In [1]:
#Dependences 
import pandas as pd
import numpy as np

In [2]:
# Take in all of our CitiBike data and read it into pandas
jan_2020 = "./Resources/JC-202001-citibike-tripdata.csv"
feb_2020 = "./Resources/JC-202002-citibike-tripdata.csv"
mar_2020 = "./Resources/JC-202003-citibike-tripdata.csv"
apr_2020 = "./Resources/JC-202004-citibike-tripdata.csv"
may_2020 = "./Resources/JC-202005-citibike-tripdata.csv"
june_2020 = "./Resources/JC-202006-citibike-tripdata.csv"
july_2020 = "./Resources/JC-202007-citibike-tripdata 2.csv"
aug_2020 = "./Resources/JC-202008-citibike-tripdata.csv"
sept_2020 = "./Resources/JC-202009-citibike-tripdata 2.csv"
oct_2020 = "./Resources/JC-202010-citibike-tripdata.csv"
nov_2020 = "./Resources/JC-202011-citibike-tripdata.csv"

#Create DataFrames for all the data files
jan_2020_df = pd.read_csv(jan_2020)
feb_2020_df = pd.read_csv(feb_2020)
mar_2020_df = pd.read_csv(mar_2020)
apr_2020_df = pd.read_csv(apr_2020)
may_2020_df = pd.read_csv(may_2020)
june_2020_df = pd.read_csv(june_2020)
july_2020_df = pd.read_csv(july_2020)
aug_2020_df = pd.read_csv(aug_2020)
sept_2020_df = pd.read_csv(sept_2020)
oct_2020_df = pd.read_csv(oct_2020)
nov_2020_df = pd.read_csv(nov_2020)

In [3]:
#Merge all data from 2019 into one big data frame
combined2020_CitiBike_df = pd.merge(jan_2020_df, feb_2020_df, how='outer')
combined2020_CitiBike_df3 = pd.merge(combined2020_CitiBike_df,mar_2020_df, how = "outer")
combined2020_CitiBike_df4 = pd.merge(combined2020_CitiBike_df3,apr_2020_df, how = "outer")
combined2020_CitiBike_df5 = pd.merge(combined2020_CitiBike_df4,may_2020_df, how = "outer")
combined2020_CitiBike_df6 = pd.merge(combined2020_CitiBike_df5,june_2020_df, how = "outer")
combined2020_CitiBike_df7 = pd.merge(combined2020_CitiBike_df6,july_2020_df, how = "outer")
combined2020_CitiBike_df8 = pd.merge(combined2020_CitiBike_df7,aug_2020_df, how = "outer")
combined2020_CitiBike_df9 = pd.merge(combined2020_CitiBike_df8,sept_2020_df, how = "outer")
combined2020_CitiBike_df10 = pd.merge(combined2020_CitiBike_df9,oct_2020_df, how = "outer")
combined2020_CitiBike_df11 = pd.merge(combined2020_CitiBike_df10,nov_2020_df, how = "outer")

combined2020_CitiBike_df11

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311652,849,2020-11-30 23:08:40.1870,2020-11-30 23:22:50.0830,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,44742,Subscriber,1996,2
311653,370,2020-11-30 23:09:27.0180,2020-11-30 23:15:37.3330,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,17450,Subscriber,1999,1
311654,341,2020-11-30 23:37:53.0580,2020-11-30 23:43:34.1200,3187,Warren St,40.721124,-74.038051,3202,Newport PATH,40.727224,-74.033759,42528,Subscriber,1991,1
311655,5272,2020-11-30 23:49:31.8650,2020-12-01 01:17:24.2540,3679,Bergen Ave,40.722104,-74.071455,3679,Bergen Ave,40.722104,-74.071455,14657,Customer,1990,1
311656,222,2020-11-30 23:56:52.8310,2020-12-01 00:00:34.8660,3205,JC Medical Center,40.716540,-74.049638,3276,Marin Light Rail,40.714584,-74.042817,42601,Subscriber,1990,1

In [4]:
#splitting start time column 
combined2020_CitiBike_df11['starttime'] = pd.to_datetime(combined2020_CitiBike_df11['starttime'])
combined2020_CitiBike_df11['start date'] = combined2020_CitiBike_df11['starttime'].dt.date
combined2020_CitiBike_df11['start time'] = combined2020_CitiBike_df11['starttime'].dt.time
combined2020_CitiBike_df11.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start date,start time
0,226,2020-01-01 00:04:50.192,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2,2020-01-01,00:04:50.192000
1,377,2020-01-01 00:16:01.670,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2,2020-01-01,00:16:01.670000
2,288,2020-01-01 00:17:33.877,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1,2020-01-01,00:17:33.877000
3,435,2020-01-01 00:32:05.902,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0,2020-01-01,00:32:05.902000
4,231,2020-01-01 00:46:19.678,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2,2020-01-01,00:46:19.678000

In [5]:
#splitting end time time column 
combined2020_CitiBike_df11['stoptime'] = pd.to_datetime(combined2020_CitiBike_df11['stoptime'])
combined2020_CitiBike_df11['end date'] = combined2020_CitiBike_df11['stoptime'].dt.date
combined2020_CitiBike_df11['end time'] = combined2020_CitiBike_df11['stoptime'].dt.time
combined2020_CitiBike_df11.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start date,start time,end date,end time
0,226,2020-01-01 00:04:50.192,2020-01-01 00:08:37.037,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2,2020-01-01,00:04:50.192000,2020-01-01,00:08:37.037000
1,377,2020-01-01 00:16:01.670,2020-01-01 00:22:19.080,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2,2020-01-01,00:16:01.670000,2020-01-01,00:22:19.080000
2,288,2020-01-01 00:17:33.877,2020-01-01 00:22:22.442,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1,2020-01-01,00:17:33.877000,2020-01-01,00:22:22.442000
3,435,2020-01-01 00:32:05.902,2020-01-01 00:39:21.066,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0,2020-01-01,00:32:05.902000,2020-01-01,00:39:21.066000
4,231,2020-01-01 00:46:19.678,2020-01-01 00:50:11.344,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2,2020-01-01,00:46:19.678000,2020-01-01,00:50:11.344000

In [6]:
# Drop starttime column

combined2020_CitiBike_df11.drop('starttime', inplace=True, axis=1)
combined2020_CitiBike_df11.head()

,tripduration,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start date,start time,end date,end time
0,226,2020-01-01 00:08:37.037,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2,2020-01-01,00:04:50.192000,2020-01-01,00:08:37.037000
1,377,2020-01-01 00:22:19.080,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2,2020-01-01,00:16:01.670000,2020-01-01,00:22:19.080000
2,288,2020-01-01 00:22:22.442,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1,2020-01-01,00:17:33.877000,2020-01-01,00:22:22.442000
3,435,2020-01-01 00:39:21.066,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0,2020-01-01,00:32:05.902000,2020-01-01,00:39:21.066000
4,231,2020-01-01 00:50:11.344,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2,2020-01-01,00:46:19.678000,2020-01-01,00:50:11.344000

In [8]:
# Drop starttime column

combined2020_CitiBike_df11.drop('stoptime', inplace=True, axis=1)
combined2020_CitiBike_df11.head()

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start date,start time,end date,end time
0,226,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2,2020-01-01,00:04:50.192000,2020-01-01,00:08:37.037000
1,377,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2,2020-01-01,00:16:01.670000,2020-01-01,00:22:19.080000
2,288,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1,2020-01-01,00:17:33.877000,2020-01-01,00:22:22.442000
3,435,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0,2020-01-01,00:32:05.902000,2020-01-01,00:39:21.066000
4,231,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2,2020-01-01,00:46:19.678000,2020-01-01,00:50:11.344000