In [1]:
#Dependences 
import pandas as pd
import numpy as np

In [2]:
# Take in all of our CitiBike data and read it into pandas
jan_2019 = "./Resources/JC-201901-citibike-tripdata.csv"
feb_2019 = "./Resources/JC-201902-citibike-tripdata.csv"
mar_2019 = "./Resources/JC-201903-citibike-tripdata.csv"
apr_2019 = "./Resources/JC-201904-citibike-tripdata.csv"
may_2019 = "./Resources/JC-201905-citibike-tripdata.csv"
june_2019 = "./Resources/JC-201906-citibike-tripdata.csv"
july_2019 = "./Resources/JC-201907-citibike-tripdata.csv"
aug_2019 = "./Resources/JC-201908-citibike-tripdata.csv"
sept_2019 = "./Resources/JC-201909-citibike-tripdata.csv"
oct_2019 = "./Resources/JC-201910-citibike-tripdata.csv"
nov_2019 = "./Resources/JC-201911-citibike-tripdata.csv"

#Create DataFrames for all the data files
jan_2019_df = pd.read_csv(jan_2019)
feb_2019_df = pd.read_csv(feb_2019)
mar_2019_df = pd.read_csv(mar_2019)
apr_2019_df = pd.read_csv(apr_2019)
may_2019_df = pd.read_csv(may_2019)
june_2019_df = pd.read_csv(june_2019)
july_2019_df = pd.read_csv(july_2019)
aug_2019_df = pd.read_csv(aug_2019)
sept_2019_df = pd.read_csv(sept_2019)
oct_2019_df = pd.read_csv(oct_2019)
nov_2019_df = pd.read_csv(nov_2019)

In [3]:
#Merge all data from 2019 into one big data frame
combined2019_CitiBike_df = pd.merge(jan_2019_df, feb_2019_df, how='outer')
combined2019_CitiBike_df3 = pd.merge(combined2019_CitiBike_df,mar_2019_df, how = "outer")
combined2019_CitiBike_df4 = pd.merge(combined2019_CitiBike_df3,apr_2019_df, how = "outer")
combined2019_CitiBike_df5 = pd.merge(combined2019_CitiBike_df4,may_2019_df, how = "outer")
combined2019_CitiBike_df6 = pd.merge(combined2019_CitiBike_df5,june_2019_df, how = "outer")
combined2019_CitiBike_df7 = pd.merge(combined2019_CitiBike_df6,july_2019_df, how = "outer")
combined2019_CitiBike_df8 = pd.merge(combined2019_CitiBike_df7,aug_2019_df, how = "outer")
combined2019_CitiBike_df9 = pd.merge(combined2019_CitiBike_df8,sept_2019_df, how = "outer")
combined2019_CitiBike_df10 = pd.merge(combined2019_CitiBike_df9,oct_2019_df, how = "outer")
combined2019_CitiBike_df11 = pd.merge(combined2019_CitiBike_df10,nov_2019_df, how = "outer")

combined2019_CitiBike_df11

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385214,77,2019-11-30 23:30:07.7850,2019-11-30 23:31:25.7730,3638,Washington St,40.724294,-74.035483,3202,Newport PATH,40.727224,-74.033759,29492,Subscriber,1979,1
385215,145,2019-11-30 23:40:45.3790,2019-11-30 23:43:10.5660,3211,Newark Ave,40.721525,-74.046305,3278,Monmouth and 6th,40.725685,-74.048790,40971,Subscriber,1978,1
385216,99,2019-11-30 23:41:55.3310,2019-11-30 23:43:34.3320,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,26198,Subscriber,1991,1
385217,594,2019-11-30 23:52:50.2410,2019-12-01 00:02:44.2960,3213,Van Vorst Park,40.718489,-74.047727,3639,Harborside,40.719252,-74.034234,29527,Subscriber,1981,1
385218,329,2019-11-30 23:56:27.6680,2019-12-01 00:01:57.0120,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,26163,Subscriber,1977,1

In [4]:
#Changing gender column to male, female, and unknown vs 0,1,2 
combined2019_CitiBike_df11["gender"] = combined2019_CitiBike_df11["gender"].map(str)
combined2019_CitiBike_df11["gender"] = combined2019_CitiBike_df11["gender"].replace(['0','1','2'],['Unknown','Male','Female'])
combined2019_CitiBike_df11.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown

In [5]:
#splitting start time column 
combined2019_CitiBike_df11['starttime'] = pd.to_datetime(combined2019_CitiBike_df11['starttime'])
combined2019_CitiBike_df11['start date'] = combined2019_CitiBike_df11['starttime'].dt.date
combined2019_CitiBike_df11['start time'] = combined2019_CitiBike_df11['starttime'].dt.time
combined2019_CitiBike_df11.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start date,start time
0,201,2019-01-01 03:09:09.711,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male,2019-01-01,03:09:09.711000
1,505,2019-01-01 05:18:00.106,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female,2019-01-01,05:18:00.106000
2,756,2019-01-01 10:36:33.340,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male,2019-01-01,10:36:33.340000
3,1575,2019-01-01 12:43:38.643,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown,2019-01-01,12:43:38.643000
4,1566,2019-01-01 12:43:39.601,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown,2019-01-01,12:43:39.601000

In [6]:
#splitting end time time column 
combined2019_CitiBike_df11['stoptime'] = pd.to_datetime(combined2019_CitiBike_df11['stoptime'])
combined2019_CitiBike_df11['end date'] = combined2019_CitiBike_df11['stoptime'].dt.date
combined2019_CitiBike_df11['end time'] = combined2019_CitiBike_df11['stoptime'].dt.time
combined2019_CitiBike_df11.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start date,start time,end date,end time
0,201,2019-01-01 03:09:09.711,2019-01-01 03:12:30.879,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male,2019-01-01,03:09:09.711000,2019-01-01,03:12:30.879000
1,505,2019-01-01 05:18:00.106,2019-01-01 05:26:25.905,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female,2019-01-01,05:18:00.106000,2019-01-01,05:26:25.905000
2,756,2019-01-01 10:36:33.340,2019-01-01 10:49:10.260,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male,2019-01-01,10:36:33.340000,2019-01-01,10:49:10.260000
3,1575,2019-01-01 12:43:38.643,2019-01-01 13:09:54.528,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown,2019-01-01,12:43:38.643000,2019-01-01,13:09:54.528000
4,1566,2019-01-01 12:43:39.601,2019-01-01 13:09:46.510,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown,2019-01-01,12:43:39.601000,2019-01-01,13:09:46.510000

In [7]:
# Drop starttime column

combined2019_CitiBike_df11.drop('starttime', inplace=True, axis=1)
combined2019_CitiBike_df11.head()

,tripduration,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start date,start time,end date,end time
0,201,2019-01-01 03:12:30.879,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male,2019-01-01,03:09:09.711000,2019-01-01,03:12:30.879000
1,505,2019-01-01 05:26:25.905,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female,2019-01-01,05:18:00.106000,2019-01-01,05:26:25.905000
2,756,2019-01-01 10:49:10.260,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male,2019-01-01,10:36:33.340000,2019-01-01,10:49:10.260000
3,1575,2019-01-01 13:09:54.528,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown,2019-01-01,12:43:38.643000,2019-01-01,13:09:54.528000
4,1566,2019-01-01 13:09:46.510,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown,2019-01-01,12:43:39.601000,2019-01-01,13:09:46.510000

In [8]:
# Drop stoptime column 

combined2019_CitiBike_df11.drop('stoptime', inplace=True, axis=1)
combined2019_CitiBike_df11.head()

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start date,start time,end date,end time
0,201,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male,2019-01-01,03:09:09.711000,2019-01-01,03:12:30.879000
1,505,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female,2019-01-01,05:18:00.106000,2019-01-01,05:26:25.905000
2,756,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male,2019-01-01,10:36:33.340000,2019-01-01,10:49:10.260000
3,1575,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown,2019-01-01,12:43:38.643000,2019-01-01,13:09:54.528000
4,1566,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown,2019-01-01,12:43:39.601000,2019-01-01,13:09:46.510000

In [9]:
#Saving to CSV 

combined2019_CitiBike_df11.to_csv(r'/Users/aliciasmith/Desktop/CitiBike-Homework-/citibike2019.csv', index = False)